<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- COMMON headStatic :Start -->
    <link rel="stylesheet" href="./src/view/common/index.css">
    <!--
        # mobile rem
        <script src="./src/m/rem/rem.js"></script>
    -->
    <!-- COMMON headStatic :End -->

    <link rel="stylesheet" href="./src/view/index/index.css">
    <title>index</title>
</head>
<body>
<!-- COMMON header :Start -->
<div class="m-head">
    header
</div>
<!-- COMMON header :End -->

<!-- COMMON static :Start -->
<script src="./src/bower_components/jquery/dist/jquery.min.js"></script>
<!-- COMMON footer :End -->
<script src="/data/index.php" ></script>
<script src="./src/view/index/index.js"></script>
</body>
</html>
